/target
**/*.rs.bk
config.json
Procfile
/dns.db
/config.yml
/log
.idea
.DS_Store
/ci/docker/*/stage/
*.log
*.log.*
trace-*.json
geoip.mmdb
*.sqlite
*.sqlite-journal
*.sqlite-shm
*.sqlite-wal
bench/http-server/large_file.bin
