verbose: false
dns_start_ip: 11.0.0.10
dns_server: 223.5.5.5:53
tun_name: utun4
tun_ip: 11.0.0.1
tun_cidr: 11.0.0.0/16
dns_listen: 0.0.0.0:53
gateway_mode: true
probe_timeout: 100ms
connect_timeout: 200ms
read_timeout: 300s
write_timeout: 300s
max_connect_errors: 2

socks5_server:
  addr: 127.0.0.1:1086  # 替换成 socks5 代理的地址

http_proxy_server:
  addr: 127.0.0.1:1087  # 替换成 socks5 代理的地址

shadowsocks_servers:
  - name: server1
    addr: domain-to-ss-server.com # 替换成 ss 服务器的地址
    method: chacha20-ietf
    password: password
  - name: server2
    addr: 128.113.23.12:12312
    method: chacha20-ietf
    password: password

rules:
  - 'DOMAIN,audio-ssl.itunes.apple.com,DIRECT'
  - 'DOMAIN,gspe1-ssl.ls.apple.com,REJECT'
  - 'DOMAIN-SUFFIX,aaplimg.com,DIRECT'
  - 'DOMAIN-SUFFIX,apple.co,DIRECT'
  - 'DOMAIN-KEYWORD,bbcfmt,PROXY'
  - 'DOMAIN-KEYWORD,uk-live,PROXY'
  - 'DOMAIN-SUFFIX,snssdk.com,DIRECT'
  - 'DOMAIN-SUFFIX,toutiao.com,PROBE'
  - 'MATCH,PROBE'
