[package]
name = "config"
version = "0.1.0"
authors = ["gfreezy <gfreezy@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = { version = "1.0.111", features = ["derive", "rc"] }
serde_yaml = "0.8.12"
bytes = "0.5.4"
crypto = { path = "../crypto" }
socks5_client = { path = "../socks5_client" }
smoltcp = { version = "0.6.0", default-features = false, features = ["proto-ipv6", "proto-ipv4", "std"] }

